/* CSS Document */

/*== BACKGROUND ==*/
.wr-bot-header,
.wr-slider .bx-wrapper .bx-controls-direction a,
.hight-light-title,
.product-item .add-to-cart,
.wr-breadcrumb,
.social-counter:hover .icon,
.btn-404,
.post-dc-info .date,
.pagination li a:hover,
.masonry-blog .large-item .read-more,
.masonry-pagination > button,
.quantity.minus-hover:after,
.quantity.plus-hover:before,
.cart-page .remove:hover,
.post-video .video-title,
.back-to-bottom,
.wr-callout .callout-box.cb-r-button .wr-btn,
#cost-price-slider .ui-state-default,
.single-feature-product .bx-wrapper .bx-controls-direction a:hover,
.ui-selectmenu-button:hover span.ui-icon,
.sort-by .view label.active i, 
.sort-by .view i:hover,
.callout-box.cb-r-button .wr-btn,
span.dropcap4,
.image-banner.style3 .read-more,
.carousel-blog-list .owl-buttons > div,
.li-standard.l-number li:before,
.li-standard.list-icons.boxed-icon li i,
.service-box.colorfull:hover .icon,
.service-box:hover h3:after,
.service-box.full-bg .icon,
.wr-slider .bx-wrapper .bx-controls-direction a,
.wr-blog-article .bx-wrapper .bx-controls-direction a,
.cd-form input[type="submit"],
.custom-header .top-menu li a:hover,
.custom-header .contact-header i,
.custom-header .wr-main-menu .post-video .video-title,
.owl-buttons > div,
.wr-wrapper-v4 .wr-blog-article .read-more,
.wr-bot-footer .buy-now-btn,
#sale-popup form .input-submit input{
	background: url('/images/infobg.png');
}

.product-summary .wr-btn {background: #008000;}

.newsletter input[type="submit"] {
	background:#1F4410;
}

.submit-btn {background: #1F4410;}

.top-menu a:hover {}

.product-item .add-to-cart-button,
.newsletter input[type="submit"]:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
}
.wr-adv .parallax,
.image-banner.style3:hover .mask{
	background: rgba(105, 170, 114, 0.8);
}
.image-banner:hover .mask{
	background: rgba(105, 170, 114, 0.5);
}

/*== COLOR ==*/
.heading-title h1,
.wr-main-menu .sub-menu li:hover > a,
.blog-item h3 a:hover,
.post-duc li a:hover,
.social-counter:hover .info span,
.wr-top-footer a:hover, 
.wr-top-footer li:hover,
.service-box .icon,
.panel-group .action i,
.elements-sidebar li a:hover, 
.elements-sidebar li a:hover i,
.bestseller-sidebar .sale-price,
.recent-twitter a,
.blog-list .read-more,
.blog-list h3 a:hover,
.bestseller-sidebar h4 a:hover,
.cart-collaterals,
.welcome .service-box h3 span,
.testi-address,
.sidebar-menu li a:hover, 
.sidebar-menu li.active > a,
.product-summary .sale-price,
.product-summary .stock strong,
.copyright a:hover,
.sidebar-menu li:hover:before, 
.sidebar-menu li.active:before, 
.sidebar-menu > ul > li.opend:before,
.callout-box.cb-icon > i,
.li-standard.l-arrow li:after,
.li-standard.l-dot li:after,
.li-standard.l-number.only-number li:before,
.li-standard.l-star li:after,
.wr-main-menu li.mega-menu li a:hover, 
.wr-main-menu li.mega-menu li a:hover i,
.testimonial-3 .testi-address,
.testi-author,
.why-services li:before,
.service-box:hover h3 a,
.blog-slider a,
.wr-slider .bx-wrapper .bx-controls-direction a:hover,
.cd-user-modal-container .cd-switcher a.selected,
.cd-form-bottom-message a:hover,
.custom-header .wr-top-header,
.custom-header .top-menu li.cart a,
.custom-header .contact-header h3 a,
.custom-header .wr-main-menu .sub-menu li:hover a,
.custom-header .wr-main-menu li.mega-menu li a:hover, 
.custom-header .wr-main-menu li.mega-menu li a:hover i,
.custom-header .wr-bot-header .wr-searchbox:before,
.owl-buttons > div:hover,
.wr-wrapper-v4 .wr-blog-article .bx-wrapper .bx-controls-direction a:hover:before,
#sale-popup h3{
	color: #2F6737;
}

a:hover {color:#008000;}


.wr-testimonial .author, .continue-shop a {
	color:#ffffff;
}

.product-item h3 a:hover {color:#ffffff;}
.custom-header .wr-main-menu > ul > li.active > a,
.custom-header .wr-main-menu > ul > li > a:hover{
	color: #69aa72 !important;
}
.wr-main-menu > ul > li > a,
.blog-list .read-more:hover,
span.dropcap2{
	color:#ffffff;
}

/*== BORDER ==*/
.social-counter:hover .icon:before,
.panel-group .action,
.testimonial.style2 .testi-content,
.tab-control a.active, 
.tab-control a:hover,
.in-divider.bold-color,
blockquote.style3,
.testimonial-3 .tabs-content,
.services-page .service-box .icon:before,
.service-box .icon:before,
.service-box.small-box .icon:before,
.wr-static .service-box .icon:before,
.custom-header .wr-top-header,
.custom-header .wr-main-menu > ul > li.active > a{
	border-color:#2F512E;
}