<div class="row inner contact">
    <div class="col-md-12">
        <h4><i class="fa fa-rss" aria-hidden="true"></i> Blog</h4>
        <table id="tuiaBlog" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
        	<thead>
          	<tr>
          	<th>Id</th>
          	<th>Url</th>
          	<th>Title</th>
            <th>Image</th>
          	<th>Description</th>
          	<th>Order</th>
          	<th>Edit</th>
          	</tr>
          </thead>
        	<tbody>
        		<tr ng-repeat="post in posts" ng-hide="post.the_url == 'blog'">
          		<td>{{post.the_id}}</td>
          		<td>{{post.the_url}}</td>
          		<td>{{post.the_title}}</td>
                <td><img ng-src="../images/blog/{{post.the_image[0].image}}" alt="" title="" class="products-list-image"></td>
          		<td>{{post.the_shortdescription}}</td>
          		<td>{{post.the_order}}</td>
                <td>
                    <a ui-sref="admin.dashboard.post({postDetails: post.the_id})" class="btn btn-default btn-block" ng-class="message.the_status == '1' ? 'btn-success' : 'class-false'"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
        		</tr>
        	</tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div><!-- End Inner -->
