<div class="row inner contact">
        <div class="col-md-6">
            <h4><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Product info</h4>
            <hr>
            <div class="contact-form">
                    <form name="form" ng-submit="updateProductInfo(product)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group customFields" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
                                    <label for="title">Title</label>
                                    <input type="text" name="title" class="form-control" ng-model="product.the_title" placeholder="Product Title" required autofocus>
                                </div>
                                <div class="form-group customFields" ng-class="{ 'has-error': form.url.$dirty && form.url.$error.required }">
                                    <label for="title">Url</label>
                                    <input type="text" name="url" class="form-control" ng-model="product.the_url" placeholder="Product Url" required autofocus></input>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label><input type="checkbox" name="active" ng-model="product.the_active">
                                                <span ng-show="product.the_active">Active</span>
                                                <span ng-show="!product.the_active">Inactive</span>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><input type="checkbox" name="noindex" ng-model="product.the_robots">
                                                <span ng-show="product.the_robots">Index/Follow</span>
                                                <span ng-show="!product.the_robots">Noindex/Nofollow</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group customFields" ng-class="{ 'has-error': form.shortdesc.$dirty && form.shortdesc.$error.required }">
                                    <label for="title">Short description</label>
                                    <textarea type="text" name="shortdesc" rows="3" class="form-control" ng-model="product.the_shortdescription" placeholder="Short description" required autofocus></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group customFields" ng-class="{ 'has-error': form.fulldesc.$dirty && form.fulldesc.$error.required }">
                                  <label for="title">Full description</label>
                                  <textarea type="text" name="fulldesc" rows="8" class="form-control" ng-model="product.the_description" placeholder="Full description" required autofocus></textarea>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group customFields" ng-class="{ 'has-error': form.oldprice.$dirty && form.oldprice.$error.required }">
                                  <label for="oldprice" class="red-color">Old price</label>
                                  <input type="number" step="any" name="oldprice" class="form-control" ng-model="product.the_oldprice" placeholder="Old price" required autofocus>
                              </div>
                            </div>
                              <div class="col-md-6">
                                  <div class="form-group customFields" ng-class="{ 'has-error': form.newprice.$dirty && form.newprice.$error.required }">
                                      <label for="newprice" class="green-color">New price</label>
                                      <input type="number" step="any" name="newprice" class="form-control" ng-model="product.the_newprice" placeholder="New price" required autofocus>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group customFields">
                                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Product</button>
                            </div>
                        </div>
                        </div>
                    </form>
            </div>
            <div class="col-md-6">
              <h4><i class="fa fa-picture-o" aria-hidden="true"></i> Product images</h4>
              <hr>
              <ul class="admin-image-list">
                <li ng-repeat="image in images">
                  <a ng-click="Lightbox.openModal(images, $index)">
                    <img ng-src="{{image.thumbUrl}}" class="img-thumbnail my-thumbnail">
                  </a>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <a ng-hide="confirm" ng-click="confirm = true" class="btn btn-default my-delete-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a ng-show="confirm" ng-click="confirm = false" class="btn btn-danger my-confirm-btn"><i class="fa fa-ban" aria-hidden="true"></i></a>
                      <a ng-show="confirm" ng-click="deleteImage(image.file, $index)" class="btn btn-success my-confirm-btn"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </li>
                <div class="clearfix"></div>
              </ul>
              <div class="clearfix"></div>
              <br>
              <!-- start upload -->
              <div class="row">

                  <div class="col-md-12">

                      <h4><i class="fa fa-upload" aria-hidden="true"></i> Upload images</h4>
                      <hr>

                      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                      <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

                  </div>

                  <div class="col-md-12" style="margin-bottom: 40px">

                      <table class="table">
                          <thead>
                              <tr>
                                  <th width="50%">Name</th>
                                  <th ng-show="uploader.isHTML5">Size</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="item in uploader.queue">
                                  <td>
                                      <strong>{{ item.file.name }}</strong>
                                      <!-- Image preview -->
                                      <!--auto height-->
                                      <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                      <!--auto width-->
                                      <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                      <!--fixed width and height -->
                                      <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                  </td>
                                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                  <td nowrap>
                                      <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                          <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                      </button>
                                      <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                          <i class="fa fa-trash" aria-hidden="true"></i> Remove
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                      <div class="row">
                          <div class="col-md-12">
                              Progress:
                              <div class="progress" style="">
                                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                              </div>
                          </div>
                          <div class="col-md-6 form-group customFields">
                              <button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                  <i class="fa fa-upload" aria-hidden="true"></i> Upload all
                              </button>
                          </div>
                          <div class="col-md-6 form-group customFields">
                              <button type="button" class="btn btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                  <i class="fa fa-trash" aria-hidden="true"></i> Remove all
                              </button>
                          </div>
                      </div>

                  </div>

              </div>
              <!-- end upload-->

            </div>

        </div>
    <div class="clearfix"></div>
</div>
