<div class="row inner contact">
    <div class="col-md-6">
        <div class="main-stats">
            <div class="col-md-3 boxes">
              <div class="text-center">
                <span><i class="fa fa-users" aria-hidden="true"></i> Users</span>
                <div class="clearfix"></div>
                  <h3>{{users}}</h3>
                </div>
            </div>
            <div class="col-md-3 boxes">
                <div class="text-center">
                <span><i class="fa fa-desktop" aria-hidden="true"></i> Views</span>
                <div class="clearfix"></div>
                  <h3>{{views}}</h3>
                </div>
            </div>
            <div class="col-md-3 boxes">
              <div class="text-center">
                <span><i class="fa fa-clock-o" aria-hidden="true"></i> Duration</span>
                <div class="clearfix"></div>
                  <h3>{{duration | number:2}}</h3>
                </div>
            </div>
            <div class="col-md-3 boxes last-box">
              <div class="text-center">
                <span><i class="fa fa-level-down" aria-hidden="true"></i> Bounce</span>
                <div class="clearfix"></div>
                  <h3>{{bounce | number:2}} %</h3>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12">
              <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      last orders...
    </div>

</div><!-- End Inner -->
