<div class="row inner contact">
    <div class="col-md-12">
        <h4><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h4>
        <hr>
        <div class="main-stats">
            <div class="col-md-3 text-center boxes">
                <span>
                    <i class="fa fa-users" aria-hidden="true"></i> Unique Visits
                </span>
            </div>
            <div class="col-md-3 text-center boxes">
                <span>
                    <i class="fa fa-desktop" aria-hidden="true"></i> Page Views
                </span>
            </div>
            <div class="col-md-3 text-center boxes">
                <span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Visit Duration
                </span>
            </div>
            <div class="col-md-3 text-center boxes">
                <span>
                    <i class="fa fa-level-down" aria-hidden="true"></i> Bounce Rate
                </span>
            </div>
        <div class="clearfix"></div>
        </div>

    </div>
    <div class="clearfix"></div>
</div><!-- End Inner -->
