<div class="row inner contact">
    <div class="col-md-12">
        <div class="main-stats">
            <div class="col-md-2 boxes">
              <div class="text-center">
                <span><i class="fa fa-users" aria-hidden="true"></i> Unique Visits</span>
                <div class="clearfix"></div>
                  <h3>2540</h3>
                </div>
            </div>
            <div class="col-md-2 boxes">
                <div class="text-center">
                <span><i class="fa fa-desktop" aria-hidden="true"></i> Page Views</span>
                <div class="clearfix"></div>
                  <h3>22540</h3>
                </div>
            </div>
            <div class="col-md-2 boxes">
              <div class="text-center">
                <span><i class="fa fa-clock-o" aria-hidden="true"></i> Visit Duration</span>
                <div class="clearfix"></div>
                  <h3>03:35</h3>
                </div>
            </div>
            <div class="col-md-2 boxes last-box">
              <div class="text-center">
                <span><i class="fa fa-level-down" aria-hidden="true"></i> Bounce Rate</span>
                <div class="clearfix"></div>
                  <h3>36.00%</h3>
                </div>
            </div>
            <div class="col-md-4">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
    next...
    </div>
</div><!-- End Inner -->
