<div class="row inner contact">
    <div class="col-md-12">
        <h4>Orders</h4>
        <table id="tuiaOrders" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
        	<thead>
          	<tr>
          	<th>Id</th>
          	<th>Nume</th>
          	<th>Oras</th>
          	<th>Judet</th>
          	<th class="col-md-3">Adresa</th>
          	<th>Tel</th>
          	<th>Data</th>
          	<th>Detalii</th>
          	</tr>
          </thead>
        	<tbody>
        		<tr ng-repeat="order in orders">
          		<td>{{order.oid}}</td>
          		<td>{{order.onume + ' '+order.oprenume}}</td>
          		<td>{{order.ooras}}</td>
          		<td>{{order.ojudet}}</td>
          		<td class="col-md-3">{{order.oadresa}}</td>
          		<td>{{'0' + order.otel}}</td>
          		<td>{{order.order_date}}</td>
          		<td><a ui-sref="admin.dashboard.order({orderDetails: order.odetail_id })" class="btn btn-default btn-block" ng-class="order.osolved == '0' ? 'btn-success' : 'class-false'"><i class="fa fa-eye"></i></a></td>
        		</tr>
        	</tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div><!-- End Inner -->
