<li>
     <a ui-sref="admin.dashboard.home"> <span><i class="fa fa-tachometer" aria-hidden="true"></i></span> Dashboard</a>
     <a ui-sref="admin.dashboard.messages"> <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span> Messages</a>
     <a ui-sref="admin.dashboard.products"> <span><i class="fa fa-tree" aria-hidden="true"></i></span> Products</a>
     <a ui-sref="admin.dashboard.orders"> <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> Orders</a>
     <a ui-sref="admin.dashboard.blog"> <span><i class="fa fa-rss" aria-hidden="true"></i></span> Blog</a>
</li>
